---
import Base from "../layouts/Base.astro";
---

<Base title="Reljod">
  <main id="main" class="grid grid-rows-6 h-screen">
    <section
      id="introduction"
      class="row-start-2 row-span-2 flex flex-col items-center justify-center"
    >
      <h1 class="text-center text-5xl m-2">
        Hi. I'm Reljod. <br /><span class="text-3xl"
          >A Full Stack Developer
        </span>
      </h1>
      <p class="w-2/3 my-4 text-center">
        I'm a Software Engineer who builds software for fun.
      </p>
    </section>
    <div class="row-start-4 flex flex-col items-center justify-center">
      <h3 class="italic">&ldquo;Let's make your idea into a reality.&rdquo;</h3>
    </div>
    <div class="row-start-5 flex flex-col items-center justify-center">
      <h3>Let's connect via:</h3>
      <div class="flex justify-center items-center space-x-10 p-3 m-2">
        <a href="https://github.com/Reljod" target="_blank"
          ><img src="src/images/github-light.png" class="w-10" />
        </a>
        <a href="https://twitter.com/Dojler" target="_blank"
          ><img src="src/images/twitter-blue.png" class="w-10" />
        </a>
        <a
          href="https://www.upwork.com/freelancers/~0129af27eda5b1ccd6"
          target="_blank"
          ><img src="src/images/upwork.png" class="w-10" />
        </a>
        <a href="https://www.linkedin.com/in/reljodoreta/" target="_blank"
          ><img src="src/images/linkedin.png" class="w-10" />
        </a>
      </div>
    </div>
  </main>
</Base>
